.movies{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.trend{
    background-color: rgb(7, 1, 1);
    width: 100px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 100px;
}

.movie{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.movie1{
    padding: 15px;
    flex-direction: column;
}

.movie1 img{
    width: 250px;
}

.movie1 p{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    text-align: center;
    /* width: 100px;  */
}
